<!--
 * @Author: 代凯祥
 * @Date: 2023-12-13 10:10:41
 * @LastEditors: 代凯祥
 * @LastEditTime: 2023-12-21 09:37:18
 * @FilePath: \mw_scsy_web_webPortal\components\head.html
 * @Description: 
-->
<!DOCTYPE html>
<html>
<style type="text/css">
   
</style>

<head>

    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet/less" href='head.less'>
    <script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/less.js/3.11.1/less.min.js'></script>
    <script>

    </script>
</head>

<body>
    <div class="first_img">
        <img src='/assets/bg3.png' alt="" />
        <!-- <img src='http://scsy.miwei008.com//Uploads/20231205/656ed7b780581.png' alt="" /> -->
        <!-- <img  src={require("@/assets/logo2.png")} alt="" id="img_2"/> -->
        <img src='/assets/logo2.png' alt="" />
    </div>


    <div id="nav_box">
        <ul id="nav">
            <li><a href="/index.html">首页</a></li>
            <li><a href="#">学院概况</a>
                <ul class="nav-ul">
                    <li><a href="#">学院简介</a></li>
                    <li><a href="#">现任领导</a></li>
                    <li><a href="#">机构设置</a></li>
                    <li><a href="#">校园风光</a></li>
                    <li><a href="#">地理位置</a></li>
                    <li><a href="#">地理位置</a>
                        <ul>
                            <li><a href="#">风雨哈佛路</a></li>
                            <li><a href="#">肖申克的救赎</a></li>
                            <li><a href="#">阿甘正传</a></li>
                            <li><a href="#">当幸福来敲门</a></li>
                        </ul>

                    </li>
                </ul>
            </li>
            <li><a href="#">新闻中心</a>
                <ul class="nav-ul">
                    <li><a href="#">通知公告</a></li>
                    <li><a href="#">社院动态</a></li>
                </ul>
            </li>
            <li><a href="#">教学培训</a>
                <ul class="nav-ul">
                    <li><a href="#">教培动态</a></li>
                    <li><a href="#">学员心声</a></li>
                    <li><a href="#">师资情况</a></li>
                    <li><a href="#">教学基地</a></li>
                </ul>
            </li>
            <li><a href="#">科研智库
                </a>
                <ul class="nav-ul">
                    <li><a href="#">科研动态</a></li>
                    <li><a href="#">科研管理</a></li>
                    <li><a href="#">科研成果</a></li>
                    <li><a href="#">社院学报</a></li>
                    <li><a href="#">社院智汇</a></li>
                </ul>
            </li>
            <li><a href="#">中华文化学院</a>
                <ul class="nav-ul">
                    <li><a href="#">文化交流</a></li>
                    <li><a href="#">同心书画院民营企业家学院</a></li>
                </ul>
            </li>
            <li><a href="#">民营企业家学院</a>
                <ul class="nav-ul">
                    <li><a href="#">学院简介</a></li>
                    <li><a href="#">民营经济</a></li>
                </ul>
            </li>
            <li><a href="#">机关党建</a>
                <ul class="nav-ul">
                    <li><a href="#">党建工作</a></li>
                    <li><a href="#">支部建设</a></li>
                    <li><a href="#">群团工作</a></li>
                </ul>
            </li>
            <div id="input_box">
                <input type="text" placeholder='请输入搜索内容' id="input" class="enabled text-info" />
                丨 <svg style='cursor:pointer; vertical-align:middle ;margin-left: -5;margin-bottom: 2px;'
                    t="1702610547853" class="icon" viewBox="0 0 1024 1024" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" p-id="1511" width="16" height="16">
                    <path
                        d="M884.48 849.92l-128-128a378.24 378.24 0 1 0-90.24 90.24l128 128a64 64 0 0 0 90.24-90.24zM275.2 682.24a247.68 247.68 0 1 1 350.72 0 248.32 248.32 0 0 1-350.72 0z"
                        fill="#ffffff" p-id="1512"></path>
                </svg></i>
            </div>
        </ul>
    </div>
</body>

</html>